*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Archivo;
    
  
}


.navbar-collapse{
    justify-content: center !important;
   
}
.navbar a{
    color: white !important;
}

.nav-item{
    margin: 0px 30px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler {
  color: white;
  } 

.group1{
    background-image: url("./img/home.png") !important;
    background-size: cover;
    padding: 250px 0px;
    background-repeat:no-repeat;
}
.group1 h1,.group1 p,.group1 button{
    margin-bottom: 20px;
}

.group1 h1{
    color: white;
    font-size: 80px;
}
.group1 p{
    font-size: 30px;
    color: white;
}
.orderBtn{
    border-radius: 50px;
background-color:#f64b3c;
color: white;
font-size:40px ;
font-weight: bold;
padding: 10px 70px;
}

/* ...................................group2....................................................... */
.group2,.group2 p{
background-color:#f6eedf;
color:#f64b3c;
}


.group2 h1{
    font-weight: bolder;
    font-family:sans-serif;
}

.founder img{
    border-radius: 50%;

}
.founder h2{
    font-weight: 400px;;
}
 p {
    font-size: 30px;
}
.group2{
   padding: 130px 0px;
}


.group2 .img1{
    position: absolute;
    top:100%;
    left: 20%;
}
.group2 .img2{
    position: absolute;
    top:100%;
    left: 50%;
}

/* .................................group 3....................................... */

.group3{

    background-color: #f64b3c;
    color: white;
  
    
}

.group3 .col-md-4{
    padding: 150px;
 
}
.group3 .col-md-6{
    padding: 250px ;
 
}

.group3 .orderBtn{
    border-radius: 50px;
background-color:white;
color: #f64b3c;
font-size:40px ;
font-weight: bold;
padding: 10px 70px;

}

.group3 img{
    border-radius: 50%;
 

}

/* .................................group 4........................................ */
 
 .group4{
    background-color:#f6eedf;
    color: #f64b3c;
    justify-content: space-evenly;
}

.group4 .col-md-4{
    padding: 250px 0px;

}


.group4 .orderBtn{
    border-radius: 50px;
background-color:#f64b3c;
color: white;
font-size:40px ;
font-weight: bold;
padding: 10px 70px;

}

.group4 img{
    border-radius: 50%;
  

} 

/* ...............................group 5.................. */
 .group5{
    background-color:#f2dbb0;
    padding-bottom: 100px;
    padding: 50px ;
    color: #f64b3c;
}
.group5 h1{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.group5 .col-md-3{
    background-color: white;
    text-align: center;
    padding: 50px ;
    border-radius: 10px;
 
}
.group5 img{
    rotate:-20deg
}

/* ......................................group6............................... */

.group6{
    background-image: url("./img/home.png") !important;
    background-size: cover;
    padding: 150px 0px 150px 50px;
    background-repeat:no-repeat;
       
  
}

.group6 .col-md-5{
    padding: 200px 0px;
    color: white;
}
.group6 .col-md-5 h4{
    margin-bottom: 50px;
    font-size: 30px;
}


.group6 .orderBtn{
    border-radius: 50px;
background-color:white;
color: #f64b3c;
font-size:40px ;
font-weight: bold;
padding: 5px 130px;
margin-top: 10px;
}
/* ....................................group 7......................................... */

.group7 {
    background-color:#f6eedf;
    justify-content: center;
    text-align: center;
    padding: 250px 0px;
}

.group7 h1{
    color:#f64b3c;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-weight: bolder;
}
.group7 p{
    color:#f64b3c;
    margin-bottom: 50px;
 
}

input{
    padding: 10px 300px;
    border-radius:0px 20px 20px 0px !important;
    border: none;

}
.input-group .input-group-prepend{
    background-color: #f64b3c;
    color: white;
    border-radius:20px ;
    padding: 10px 30px;
}

.group7 .img1{
    position: absolute;
    top:550%;
    left: 20%;
}
.group7 .img2{
    position: absolute;
    top:500%;
    left: 20%;
}
.group7 .img3{
    position: absolute;
    top:500%;
    left: 50%;
}
.group7 .img4{
    position: absolute;
    top:550%;
    right: 10%;
}
.group7 .img5{
    position: absolute;
    top:500%;
    right: 10%;
}

/* .....................................footer......................................... */
.footer{
background-color: #222222;
color: white;
padding: 150px 0px ;
text-align: center;
}

.icon{
    font-size: 50px !important;
    margin-left: 30px !important;

}
.footer a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 20px;
}